*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image img{
    height: 200px;
    width: 190px;
    border-radius: 50%;
    border: 5px solid white;
}
.all1{
    display: flex;
    gap: 50px;
    background-color:  rgb(11, 11, 41);
    color: white;
    
}
.aboutme{
    text-align: center;
    padding: 20px 40px;
}
.all2{
    display: flex;
     justify-content: space-between;
     gap: 20px;
}

.skills{
    color:rgb(11, 11, 41);
    width: 400px;
    /* margin: 60px auto; */
    padding: 20px;
    /* box-shadow: 2px 1px 0px 3px; */
    
}
.skills li{
    padding: 10px;
    list-style: none;
    font-size: 20px;
}
.bar{
    background-color: #8d8a8a;
    display: block;
    height: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    overflow: hidden;
    box-shadow: 1px, 3px rgba(0,0,00.12),0 1px 2px rgba(0,0,0,0.24);
    border-radius: 20px; 
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 10px;
    float: left;
    background-color: rgb(11, 11, 41);   
}

.Java{
    width:45%;
    animation: Javascript 3s;
}
.C {
    width:45%;
    animation: C 3s;  
}
.Ms{
    width:78%;
    animation: Ms 3s;   
}
.Team{
    width:75%;
    animation: Team 3s; 
}
.Time{
    width:70%;
    animation:Time 3s; 
}
.man{
    width:80%;
    animation:man 3s; 
}
.skill{
   color:rgb(11, 11, 41) ;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.skill h6{
    font-size: 20px;
}
@keyframes Javascript{
    0%{
        width: 0%;
    } 
    100%{
        width: 45%;
    }}
@keyframes C{
      0%{
            width: 0%;
        } 
        100%{
            width: 45%;
        }}
 @keyframes Ms{
            0%{
                width: 0%;
            } 
            100%{
                width: 78%;
            }}
     @keyframes Team{
                0%{
                    width: 0%;
                } 
                100%{
                    width: 75%;
                }}
 @keyframes Time{
                    0%{
                        width: 0%;
                    } 
                    100%{
                        width: 70%;
                    }}
 @keyframes man{
    0%{
       width: 0%;
     } 
      100%{
width: 65%; }}
.content{
    width: 70%;
}
.temple{
    background-color: blue;
}
.container{
    background-color: aqua;
    display: flex;
}
.resu-temple{
    transform: rotate(-90deg);
    background-color: rgb(11, 11, 41);
    color: white;
   height: 100px;
   width: 300px;
  line-height: 30px;
  text-align: center;
  padding-top: 20px;

}
.resu-temple span{
    text-decoration: underline;
    line-height: 10px;
    text-underline-offset: 10px;
    
}
.resu-temple p{
    font-size: 20px;
}